.menu-collapse{
    position: fixed;
    background-color: #2D2E3C;
    color: #fff;
    top: 0;
    left: 0;
    width: 300px;
    bottom: 0;
    z-index: 8;
    overflow: auto;
    transition: all 0.3s ease-in-out;
  }
  .close{
    color: #fff;
  }
  .close:hover{
    color: #f1f1f1;
  }
  .article{
    letter-spacing: 1px;
    margin-left: 20px;
  }
  .category{
    font-size: 18px;
  }
  .category-btn{
    padding: 10px;
    border-bottom: 1px solid #272833;
  }
  .list-group-item{
    background-color: #272833;
  }
  .category-btn:hover{
    cursor: pointer;
    border-left: 3px solid #f88c8c;
  }
  .list-item{
    font-size: 16px;
  }

  /* Scrollbar */
  .menu-collapse::-webkit-scrollbar {
      width: 2px;
  }
  
  /* Track */
  .menu-collapse::-webkit-scrollbar-track {
      background: #f1f1f1; 
  }
   
  /* Handle */
  .menu-collapse::-webkit-scrollbar-thumb {
      background: #a7a7a7; 
  }
  
  /* Handle on hover */
  .menu-collapse::-webkit-scrollbar-thumb:hover {
      background: #8f8f8f; 
  }
  
  .menu-collapse.collapsed{
      margin-left: -300px;
  }