@import "Plugins/bootstrap.min.css";
@import "Plugins/font-awesome-4.7.0/css/font-awesome.min.css";
@import "Moduls/menu-collapse.css";

.article{
  letter-spacing: 1px;
  margin-left: 20px;
}
.category{
  font-size: 18px;
}
.category-btn{
  padding: 10px;
  border-bottom: 1px solid #eee;
}
.category-btn:hover{
  cursor: pointer;
  border-left: 3px solid #f88c8c;
}
.list-item{
  font-size: 16px;
}