<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="media/favicon.ico">
    <title>mi</title>
</head>
<body>
  <div id="app">
    <header class="header mb-4">

      <nav class="navbar navbar-light">
        <button class="navbar-toggler" @click="collapseToggle">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="logo">
          <h2>Redmi Store</h2>
        </div>
        <div class="links">
          <a href="#"><i class="fa fa-github"></i> GitHub</a>
        </div>
      </nav>
      
      <div class="menu-collapse text-center" 
          :class="{collapsed: classes.isCollapsed}">
        <button type="button" class="close p-3" @click="collapseToggle">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="article">
          <div class="text-left mt-3">
            <h4>Меню</h4>
          </div>
        </div>
        
        <div class="menu text-left mt-3">
          <div class="category">
            <ul class="list-group list-group-flush">
              <li class="list-group-item category-btn">
                <div 
                  data-target="#admin"
                  data-toggle="collapse">
                  Личный кабинет
                </div>
                <div class="collapse mt-3" id="admin">
                  <div class="user-btn mt-2">
                    <button class="btn btn-primary">Регистрация</button>
                    <button class="btn btn-success">Войти</button>
                  </div>
                </div>
              </li>

              <li class="list-group-item category-btn">
                <div
                  data-target="#contact"
                  data-toggle="collapse">
                  Контакты
                </div>
                <div class="collapse mt-2" id="contact">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item list-item">
                      Адрес: Абая 43
                    </li>
                    <li class="list-group-item list-item">
                      Телефон: <a href="tel:8(777)222-22-22">8(777)222-22-22</a> 
                    </li>
                  </ul>
                </div>
              </li>

              <li class="list-group-item category-btn">
                <div  class="d-flex justify-content-between align-items-center"
                  data-target="#shopping-cart"
                  data-toggle="collapse">
                  Корзина
                  <span class="badge badge-info badge-pill">{{shoppingCart.count}}</span>
                </div>
                  <div class="collapse mt-2" id="shopping-cart">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item list-item">Количество товара: {{shoppingCart.count}}</li>
                      <li class="list-group-item list-item">Общая сумма: {{shoppingCart.price}}тг.</li>
                    </ul>
                    <button class="btn btn-info w-100">Показать полностью</button> 
                    <button class="btn btn-success w-100 mt-1">Оформить заказ</button>
                  </div>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </header>

    <main class="main">
      
      <div class="container products text-center">
        <div class="view-btn-group">
          <div class="d-flex justify-content-around">
              <div class="view-btn" 
                  :class = "{active: classes.viewActive == 1}"
                  @click = "viewActiveToggle(1)">
                <i class="fa fa-th"></i>
              </div>
              <div class="view-btn" 
                  :class = "{active: classes.viewActive == 2}"
                  @click = "viewActiveToggle(2)">
                <i class="fa fa-list"></i>
              </div>
            </div>
        </div>
        <div class="card-view" v-if="classes.viewActive == 1">
          <div class="row justify-content-center">
            <div class="card m-2" style="width: 18rem;" 
                v-for="(miProduct, key, index) in miData" 
                :key="miProduct.id">
              <img class="card-img-top" :src="miProduct['File']">
              <div class="card-body">
                <h5 class="card-title">{{ miProduct.Model }}</h5>
                <p class="card-text">
                  <p>Наличие: 
                    <span v-if="miProduct.Count != 0">Да</span>
                    <span v-else>Нет</span>
                  </p>
                  <p class="lead">Цена: {{miProduct.Price}}</p>
                  <p>{{miProduct.CPU}}, 
                    {{miProduct.GPU}}, 
                    {{miProduct.RAM}}, 
                    {{miProduct.ROM}}</p>
                  <a  href="#" 
                      data-toggle="modal" 
                      :data-target="'#product' + miProduct.id">
                      Показать все характеристики
                  </a>
                </p>
                <a href="#" class="btn btn-primary">
                  <i class="fa fa-plus-square"></i>
                </a>
                <a href="#" class="btn btn-success">
                  <i class="fa fa-shopping-cart"></i>
                </a>
              </div>
              <div class="modal fade" :id="'product' + miProduct.id">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">{{miProduct.Model}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <img :src="miProduct['File']" class="img-fluid">
                    <p class="lead">Характеристики</p>
                    <table class="table table-striped">
                      <tr>
                        <td>Модель</td>
                        <td>{{miProduct.Model}}</td>
                      </tr>
                      <tr>
                        <td>Вес</td>
                        <td>{{miProduct.Weight}}</td>
                      </tr>
                      <tr>
                        <td>Процессор</td>
                        <td>{{miProduct.CPU}}</td>
                      </tr>
                      <tr>
                        <td>Видеокарта</td>
                        <td>{{miProduct.GPU}}</td>
                      </tr>
                      <tr>
                        <td>Оперативная память</td>
                        <td>{{miProduct.RAM}}</td>
                      </tr>
                      <tr>
                        <td>Постоянная память</td>
                        <td>{{miProduct.ROM}}</td>
                      </tr>
                      <tr>
                        <td>Основная камера</td>
                        <td>{{miProduct.Camera.Primary}}</td>
                      </tr>
                      <tr>
                        <td>Фронтальная камера</td>
                        <td>{{miProduct.Camera.Secondary}}</td>
                      </tr>
                      <tr>
                        <td>Видео</td>
                        <td>{{miProduct.Video}}</td>
                      </tr>
                    </table>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Закрыть</button>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="table-view" v-if="classes.viewActive == 2">
          <ul class="list-group">
            <li class="list-group-item">
              Реализация таблицы
            </li>
          </ul>
        </div>
      </div>
    </main>

    <footer class="footer mt-4">
      
    </footer>
  </div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/Plugins/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>